@import "../../node_modules/normalize.css/normalize.css";
@import "vars"
@import "media"

@font-face
  font-family: "RalewayEL"
  src: url('../fonts/raleway/Raleway-ExtraLight.ttf')

@font-face
  font-family: "RalewayL"
  src: url('../fonts/raleway/Raleway-Light.ttf')

@font-face
  font-family: "RalewayM"
  src: url('../fonts/raleway/Raleway-Medium.ttf')

@font-face
  font-family: "RalewayR"
  src: url('../fonts/raleway/Raleway-Regular.ttf')